<div style="background-color: violet; text-align: center;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est animi beatae delectus cumque nihil quo repudiandae
        molestiae odio modi quasi harum dolor consequuntur commodi, eveniet eaque dicta porro quibusdam quaerat minima
        amet ad dolorum? Delectus soluta provident veritatis optio? Qui sed dolores vero consequatur unde ullam!
        Molestias, dicta dignissimos illum aperiam eligendi quasi veritatis aliquid ad autem nisi! Fugit mollitia
        consequatur molestias tenetur voluptatem! Error perspiciatis, distinctio aliquam blanditiis facilis nemo quia
        eos quam! Dignissimos quasi deleniti quia doloribus hic unde. Quaerat mollitia vero quia iusto harum
        exercitationem, porro eius ea repellendus eveniet nam nostrum tempore! Voluptatibus velit possimus ea?</p>
    {{about.data}}
</div>