<div >
    <div style="text-align: center; background-color: tomato;">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum voluptas recusandae in eligendi? Exercitationem
            dolor laborum commodi sunt enim. Nisi blanditiis explicabo quis! Deleniti maiores similique rem, quos neque
            repellendus aliquam voluptas distinctio numquam amet soluta obcaecati provident repudiandae repellat qui,
            enim
            dolores? Illum officia iusto reiciendis dolorem labore placeat, alias tempore rem, illo impedit facilis
            ullam
            excepturi, nobis pariatur quibusdam quasi culpa aliquam delectus quia maxime? Asperiores maxime ipsum
            tempore
            maiores repellat qui a neque recusandae laborum. Eaque obcaecati inventore vitae minima, consequuntur ullam
            dolorem quo suscipit omnis, praesentium ducimus ipsa magnam. Nihil expedita omnis nostrum, id facilis harum
            aut
            at porro, nulla numquam asperiores incidunt dolorem sit facere impedit iure, rem et possimus minima
            doloremque
            dolores? Voluptate quam repudiandae facilis deleniti tenetur minus, at et omnis saepe debitis enim similique
            rerum error exercitationem, voluptatum est animi fuga consequuntur impedit aperiam amet voluptates
            necessitatibus pariatur? Nemo quasi aperiam nulla!</p>
        {{career.data}}
    </div>
</div>