<!--
<h1>
    {{message}}

</h1>
<button (click)="greeting()">Click Me</button>
<h1>{{greet}}</h1>


<aurionpro-student> </aurionpro-student>

<aurionpro-blueballgame>
    class="button"
</aurionpro-blueballgame>

<aurionpro-twowaybind> </aurionpro-twowaybind>


<aurionpro-numbersApi>
</aurionpro-numbersApi>



<aurionpro-togglebtn [title]="'MyToggle'" [onColor]="'blue'" [offColor]="'yellow'" (stateChanged)="f1($event)"> 
</aurionpro-togglebtn>

-->

<aurionpro-rating [rating]="2"  (hoverover)="f2($event)">
    
</aurionpro-rating>