<form name="myForm">
    <div style="text-align: center;">

        Id: <span>{{id}}</span><br>
        <label>Name:</label>
        <input type="text" ng-model='name' name="name" required>
        <span style="color:red" ng-show="myForm.name.$touched && myForm.name.$invalid">The name is required.</span><br>

        <label>Job: </label>
        <select ng-model='selectedJob' required name="job">
            <option> Developer</option>
            <option>Tester</option>
            <option>SAP</option>
            <option>Project Manager</option>
        </select><br>

        <label>Salary: </label><input type="number" ng-model='salary' name="salary" required>
        <span style="color:red" ng-show="myForm.salary.$touched && myForm.salary.$invalid">Salary is
            required.</span><br>

        <button ng-disabled="myForm.name.$dirty && myForm.name.$invalid ||  myForm.salary.$dirty &&
                        myForm.salary.$invalid || myForm.job.$dirty && myForm.job.$invalid "
            ng-click='edit()'>Save</button>
    </div>
</form>